<img src="https://via.placeholder.com/150" alt="placeholder for intro video">
<div class="content">
	<div id="video-box">
		<h5>WATCH THE<br />
		<%= "#{t('company_name')}".upcase %> VIDEO</h5>
		<div id="play-button"><a class="colorbox-load" href="https://www.youtube.com/embed/eX4If6tTaLQ?rel=1&amp;autoplay=1&amp;height=349&amp;width=555&amp;iframe=true" target="_blank">&nbsp;</a></div>
	</div>
</div>