
    
  <div class="content">
    <h3>Dallas Office</h3>

<div class="address">4848 Lemmon Avenue., #749<br>
Dallas, TX 75219</div>

<div class="phone">
<h4><span class="fa fa-phone"></span> <a href="tel:+14698281577">1-469-828-1577</a></h4>

<h4><span class="fa fa-phone"></span> <a href="tel:+18332852267">1-833-285-2267</a></h4>

<h4><span class="fa fa-fax"></span> <a href="tel:+14695336882">1-469-533-6882</a></h4>
</div>
  </div>
