
 <div class="content">
    <ul class="menu"><li class="first leaf"><a href="/photo-galleries" title="">Photo Galleries</a></li>
		<li class="leaf"><a href="/tech-opportunities" title="">Tech Opportunities</a></li>
		<li class="leaf"><a href="/directory-of-cities-vts-services" title=""> Directory of Cities <%= "#{t('company_name')}" %> Services</a></li>
		<li class="leaf"><a href="https://jobs.videotechservices.com/av-jobs-directory" title="" target="_blank">Directory of AV Jobs</a></li>
		<li class="leaf"><a href="/customer-reviews-and-feedback" title="">Review Us</a></li>
		<li class="leaf"><a href="/customer-surveys" title="">Customer Surveys</a></li>
		<li class="last leaf"><a href="/sitemap" title="">Sitemap</a></li>
	</ul>  
 </div>
