<div class="content">
	<h3>Orlando Office</h3>
	<div class="address">2423 South Orange Ave, #202,<br>
	Orlando, FL 32806</div>
	<div class="phone">
		<h4><span class="fa fa-phone"></span> <a href="tel:+14072030755">1-407-203-0755</a></h4>
		<h4><span class="fa fa-phone"></span> <a href="tel:+18332852267">1-833-285-2267</a></h4>
		<h4><span class="fa fa-fax"></span> <a href="tel:+14072030760">1-407-203-0760</a></h4>
	</div>
</div>
</div>
</div>