


<div class="row">
  <div class="col-sm-6">
    <h1>Served Cities</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_served_city_path, class: 'btn btn-primary' do %>
    (+) Add City
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @served_cities.each do |served_city| %>
        <%= content_tag :tr, id: dom_id(served_city), class: dom_class(served_city) do %>
          
            <td><%= link_to served_city.name, served_city %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
